@font-face {
  font-family: "Computer Modern";
  src: url('./computer_modern/cmunrm-webfont.eot');
  src: url('./computer_modern/cmunrm-webfont.ttf') format(truetype),
    url('./computer_modern/cmunrm-webfont.woff2') format('woff2'),
    url('./computer_modern/cmunrm-webfont.woff') format('woff'),
    url('./computer_modern/cmunrm-webfont.svg') format('svg');

    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Computer Modern";
  src: url('./computer_modern/cmunbx-webfont.eot');
  src: url('./computer_modern/cmunbx-webfont.ttf') format(truetype),
    url('./computer_modern/cmunbx-webfont.woff2') format('woff2'),
    url('./computer_modern/cmunbx-webfont.woff') format('woff'),
    url('./computer_modern/cmunbx-webfont.svg') format('svg');

    font-weight: bold;
    font-style: normal;
}

html, body {
  padding: 0;
  margin: 0;

  background-color: lightgoldenrodyellow;

  font-family: "Computer Modern", cursive;
}

.actor {
    display: block;
    float: left;
}

article {
  max-width: 40em;
  margin: 0 auto;
}

p {
    margin-left: 20em;
}

p .phrase {
  display: block;
}
