<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{novel.title}}</title>

    <link rel="stylesheet" href="./style/style.css" >
  </head>
  <body>
    <article>
      <header>
        <h1>{{novel.title}}</h1>
        <nav class="toc">
          <ul>{% for chapter in novel.chapters %}
            {% set chapter_num = loop.index %}
            <li><a href="#chapter-{{chapter_num}}">{{chapter_num}}. {{ chapter.title }}</a></li>
          {% endfor %}</ul>
        </nav>
      </header>
      {% for chapter in novel.chapters %}
        {% set chapter_num = loop.index %}
        {% include "chapter.html" %}
      {% endfor %}
    </article>
  </body>
</html>
